<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<Pattern>%highlight(%.-1level) %cyan(%logger{36}) %yellow(-) %msg%n</Pattern>
		</encoder>
	</appender>

	<logger name="ch.qos.logback" level="ERROR"/>
	<logger name="jimmer.ddl.sql" level="DEBUG"/>
	<logger name="jimmer.dml.sql" level="DEBUG"/>

	<root level="ERROR">
		<appender-ref ref="stdout" />
	</root>
</configuration> 